.main { 
display: flex;
margin: 200px auto;
max-width: 1600px;
width: 100%;
 
}
.left{
    width: 50%;
    margin-left: 70px;
}
.right{
margin: auto;
margin-right: 70px;
}
.title{
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: 700;
    max-width: 500px;
    width: 100%;
}
.paragraph{
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins';
    max-width: 640px;
    width: 100%;
}
.rmButton{
    background: linear-gradient(90deg, #73E0A9 0%, #5B68DF 100%);
    font-size: 16px;
    font-weight: 600;
    font-family: poppins;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 7px 50px;
    margin-top: 20px;
  
}
.plant{
margin-top: -280px;
}
.plantB{
    position:absolute;
}
@media only screen and (max-width: 1200px) {
    .main{
   flex-direction: column;
   align-items: center;
      
  }
  .right{
    margin:auto;
    margin-top: 200px;
  }
  }
  @media only screen and (max-width: 800px) {
    .main{
   margin-top: 100px;
      
  }
  
  }